@media (min-width : 767px) {
  .header_container {
    flex-flow: row wrap;
    width: 90%;
    height: 100%;
    max-width: 1250px;
    margin: auto;
    .navtitle {
      width: 40%;
      h1 {
        font-size: 20px;
      }
    }
    .header_navbar {
      width: 60%;
      ul {
        flex-flow: row wrap;
        list-style: none;
        li {
          padding: 10px;
        }
      }
    }
  }
  .speaking {
    width: 60%;
  }
  .email {
    width: 30%;
    align-self: center;
  }
}
